*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    background: #FBFDFE;

}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}