@import "links.css";

/*header for all pages*/
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(11, 9, 35, 0.4);
    z-index: 9;

    .header-content {
        text-align: right;
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-content-gerb {
            display: flex;
            align-items: center;
            max-height: 40px;
            padding: 0;
            pointer-events: none;
        }

        .header-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 45px;

            .header-nav-items {
                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 45px;
                    position: relative;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        .header-social {
            display: flex;
            align-items: center;
            position: relative;
            padding-left: 50px;

            &:before {
                position: absolute;
                left: 0;
                top: 4px;
                height: 13px;
                width: 1px;
                background: rgba(225, 225, 225, 0.5);
                content: "";
            }

            a {
                font-size: 15px;
                margin-right: 18px;
                height: 24px;

                &:nth-child(2) {
                    svg {
                        height: 20px;
                    }

                    .st0 {
                        fill: none;
                    }
                }

                &:nth-child(4) {
                    margin-right: 0;
                    line-height: 24px;
                    display: flex;
                    align-items: center;

                    &::after {
                        bottom: 2px;
                    }
                }
            }
        }

        .burger-menu {
            position: relative;
            height: 32px;
            width: 32px;
            display: none;

            .burger-menu-checkbox {
                position: absolute;
                display: block;
                height: 32px;
                width: 32px;
                top: 0;
                left: 0;
                z-index: 5;
                opacity: 0;
                cursor: pointer;

                &:checked + .burger-lines .line {
                    &.line1 {
                        transform: rotate(45deg);
                    }

                    &.line2 {
                        transform: scaleY(0);
                    }

                    &.line3 {
                        transform: rotate(-45deg);
                    }
                }
            }

            .burger-lines {
                height: 26px;
                width: 32px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .line {
                    display: block;
                    height: 4px;
                    width: 100%;
                    border-radius: 10px;
                    background: #a2a2a2;

                    &.line1 {
                        transform-origin: 0 0;
                        transition: transform 0.4s ease-in-out;
                    }

                    &.line2 {
                        transition: transform 0.2s ease-in-out;
                    }

                    &.line3 {
                        transform-origin: 0 100%;
                        transition: transform 0.4s ease-in-out;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1050px) {
    .header .header-content .header-social a:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .header .header-content {
        .header-nav {
            margin-right: 25px;

            .header-nav-items li {
                margin-right: 25px;
            }
        }

        .header-social {
            padding-left: 25px;
            display: flex;
            align-items: center;
        }
    }
}

@media screen and (max-width: 850px) {
    .header .header-content {
        .header-nav {
            display: none;
            z-index: 100;
            position: fixed;
            width: 100%;
            height: 100%;
            margin: 0;
            top: 0;
            left: 0;
            background: transparent;
            transition: all .5s;

            &.open {
                display: flex;
                align-items: center;
                background: #000000c9;
            }

            .header-nav-items {
                display: flex;
                flex-flow: wrap column;
                align-items: center;
                justify-content: flex-start;
                margin: 0 auto;
                position: relative;
                width: 100%;
                height: 100%;
                left: -100%;
                top: 110px;
                transition: left .5s;

                &.open {
                    left: 0;
                    transition: left .5s;
                }

                li {
                    margin: 0 0 20px 0;

                    a {
                        font-size: 12px;
                        height: unset;

                        &:hover {
                            font-size: 13px;
                        }
                    }
                }
            }

            .header-social {
                padding: 0;

                &:before {
                    background: transparent;
                }
            }
        }

        .burger-menu {
            display: block;
            z-index: 101;
        }
    }
}