@font-face {
    font-family: "Josefin Sans";
    src: url("../../../assets/fonts/josefin-sans-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Josefin Sans";
    src: url("../../../assets/fonts/josefin-sans-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Josefin Sans";
    src: url("../../../assets/fonts/josefin-sans-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}